<!DOCTYPE html>
<html>
  <head>
    <title><%= 'User List' %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= 'User List'  %></h1>

 		<div>
			<% for(var i=0; i < users.length; i++) { %>
		    <p><a href="/users/<%= users[i].id %>" class="btn btn-primary" role="button"><%= users[i].firstName + " " + users[i].lastName %></a></p>
        <a href="/users/<%= users[i].id %>/edit">edit</a>
        <a href="/users/<%= users[i].id %>/delete">Remove</a>
			<% } %>
		</div>

  </body>

</html>
