<!DOCTYPE html>
<html>
  <head>
    <title><%= 'blog' %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <%- include partial/header.ejs %>
    <div class="main-container">
        <h2 class="article"><%= article.title %></h2>
        <p><%= article.description %></p>
         <p><%= article.tags %></p>
        <a href="/users/<%= article.id %>/likes"></a>
        <a href="/users/<%= article.id %>/edit">edit</a>
        <a href="/users/<%= article.id %>/delete">Remove</a>
    </div>
  </body>

</html>
