<!DOCTYPE html>
<html>
  <head>
    <title><%= 'blog' %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  </head>
  <body>
    <header>
      <div class="header">
        <% if(!locals.user) { %>

        <h1><a class="logo" href="/"><%= 'Blog-Post' %></a></h1>
         <h1><a class="logo" href="/login"><%= 'Login' %></a></h1>
        <% } %>
      </div>
      <div class="secondary-user">
        <% if(locals.user) { %>
        <h1><a class="logo" href="/posts"><%= 'Blog-Post' %></a></h1>      
        <a data-tooltip="create article" href="/posts/new"><button class="create-btn">+</button></a>
        <a data-tooltip="logout" class="logout" href="/logout"><i class="fas fa-sign-out-alt"></i></a>
        <a href="/profile" class="name"><%= user.name[0].toUpperCase() %></a>
        <% } %>
      </div>

    </header>
  </body>
</html>
